<p style="color: green"><%= notice %></p>

<% content_for :title, "Carros" %>

<h1>Carros</h1>

<%= link_to "Descarga Template", carros_path(format: "xlsx") %>

<%= form_with(url: importar_carros_path, local: true, multipart:true) do |form| %>
  <%= form.file_field :file %>
  <%= form.submit "Importar" %>
<% end %>


<div id="carros">
  <% @carros.each do |carro| %>
    <%= render carro %>
    <p>
      <%= link_to "Show this carro", carro %>
    </p>
  <% end %>
</div>

<%= link_to "New carro", new_carro_path %>
